//- Using example: +checkbox({id: 'checkbox-id'(optional), name: 'checkbox-name', label: 'checkbox-text', checked: boolean(optional), desc: 'Description for rich checkboxes'(optional)})

mixin checkbox(params)
  - var classes =['checkbox']

  if (params.desc)
    - classes.push('checkbox--rich')

  label(class=classes)
    input.checkbox__input(id=params.id, type='checkbox', name=params.name, checked= params.checked)
    span.checkbox__box
    p.checkbox__label!= params.label
    if (params.desc)
      p.checkbox__description!= params.desc
