//- Using example: +text-field({type: 'text', id: 'text-field-id', placeholder: 'placeholder', name: 'name', value: 'Input value'(optioal), mask: 'mask-type'(optional), dropdown: boolean(for dd fields, optional), rightSpace: boolean(for fields with rightspace buttons, optional) ro: boolean(readonly, optional), rq: boolean(required, optional), autocomplete: boolean(optional)})

mixin text-field(params)
  - var baseClass = 'text-field'
  - var classes = [baseClass]
  - var fieldPattern
  - var type = 'text'

  if (params.type)
    - type = params.type
  if (params.rightSpace)
    - classes.push(baseClass + '--right-space')
  if (params.dropdown)
    - classes.push(baseClass + '--dropdown')
  if(params.mask)
    - classes.push(params.mask)
  case params.mask
    when 'birthday-mask'
      - fieldPattern = '(0[1-9]|1[0-9]|2[0-9]|3[01]).(0[1-9]|1[012]).[0-9]{4}'

  input(type=type, class=classes, id=params.id, name=params.name, placeholder=params.placeholder, value=params.value, pattern=fieldPattern, readonly=params.ro, required=params.rq, autocomplete=params.autocomplete)

