mixin text-field(params)
  - var classes = []
  - var fieldPattern

  if (params.isInContainer)
    - classes.push('input-container__input')
  if (params.focusedView)
    - classes.push('input-container__input--focused')
  if(params.mask)
    - classes.push(params.mask)
  case params.mask
    when 'date-mask'
      - fieldPattern = '(0[1-9]|1[0-9]|2[0-9]|3[01]).(0[1-9]|1[012]).[0-9]{4}'

  input.text-field(type='text', class=classes, id=params.id, placeholder=params.placeholder, value=params.value, pattern=fieldPattern)
